
LED_PIN=17
DOOR_LATCH_PIN=18

NFC_PORT_DEVICE=tty:S0:pn532

API_ENDPOINT=https://maidstone-hackspace.org.uk/rfid

SECRET=example-secret-here-replace-me
DEVICE_ID=62ef7d94-4c56-41ba-8694-550e4b0ef5e9
